<section class="container-fluid py-1 p-3 ">
  <div class="row my-3">
    <div class="col">
      <h3 class="text-end">Formación Academica</h3>
    </div>
  </div>
  <div class="row justify-content-end align-items-center">
    <div class="col-xs-12 col-md-6 align-self-center py-3">
      <h4>Título de la Institucion</h4>
      <h5 class="fst-italic">Carrera - Periodo</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias sint reiciendis quasi vel quaerat nostrum
        eligendi, consequatur maiores placeat, suscipit autem provident. Commodi rerum quod distinctio cupiditate soluta
        quos quas dignissimos illo quidem in necessitatibus sunt similique qui eligendi, error labore accusantium minus
        aliquid nihil at sapiente. Quasi, aliquid voluptate!</p>
    </div>
    <div class="col-xs-12 col-md-3 ">
      <img src="/assets/FreeCodeCamp_logo.png" alt="Logo" class="img-fluid">
    </div>
  </div>
  <div class="row justify-content-end  my-3 align-items-center">
    <div class="col-xs-12 col-md-6 align-self-center py-3">
      <h4>Título de la Institucion</h4>
      <h5 class="fst-italic">Carrera - Periodo</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias sint reiciendis quasi vel quaerat nostrum
        eligendi, consequatur maiores placeat, suscipit autem provident. Commodi rerum quod distinctio cupiditate soluta
        quos quas dignissimos illo quidem in necessitatibus sunt similique qui eligendi, error labore accusantium minus
        aliquid nihil at sapiente. Quasi, aliquid voluptate!</p>
    </div>
    <div class="col-xs-12 col-md-3 ">
      <img src="/assets/FreeCodeCamp_logo.png" alt="Logo" class="img-fluid">
    </div>
  </div>
  <div class="row justify-content-end my-3 align-items-center">
    <div class="col-xs-12 col-md-6 align-self-center py-3">
      <h4>Título de la Institucion</h4>
      <h5 class="fst-italic">Carrera - Periodo</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias sint reiciendis quasi vel quaerat nostrum
        eligendi, consequatur maiores placeat, suscipit autem provident. Commodi rerum quod distinctio cupiditate soluta
        quos quas dignissimos illo quidem in necessitatibus sunt similique qui eligendi, error labore accusantium minus
        aliquid nihil at sapiente. Quasi, aliquid voluptate!</p>
    </div>
    <div class="col-xs-12 col-md-3 ">
      <img src="/assets/FreeCodeCamp_logo.png" alt="Logo" class="img-fluid">
    </div>
  </div>
</section>
