<section class="container-fluid my-3 p-3">
  <h3 class="text-center">Proyectos</h3>
  <div class="card-group my-3">
    <div class="card mx-2">
      <img src="/assets/project.jpg" class="card-img-top" alt="Project">
      <div class="card-body">
        <h5 class="card-title">Proyecto Integrador - Portfolio Web</h5>
        <p class="card-text fst-italic text-muted">2022</p>
        <p class="card-text">Objetivo: desarrollar una aplicación web full stack, que mostrará datos personales,
          estudios cursados, experiencia laboral, conocimiento de las tecnologías y lo que desees agregar, es decir
          ¡crear tu portfolio web!</p>
        <a href="#" class="btn btn-outline-light">Go somewhere</a>
      </div>
    </div>
    <div class="card mx-2 ">
      <img src="/assets/project.jpg" class="card-img-top" alt="Project">
      <div class="card-body">
        <h5 class="card-title">Nombre del Proyecto</h5>
        <p class="card-text fst-italic text-muted">Fecha de realización</p>
        <p class="card-text">Descripción Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, quod
          dolorum maiores cum, nulla officiis laborum quos magnam perspiciatis tempora voluptatum facilis at optio
          aspernatur.</p>
        <a href="#" class="btn btn-outline-light">Go somewhere</a>
      </div>
    </div>
    <div class="card mx-2">
      <img src="/assets/project.jpg" class="card-img-top" alt="Project">
      <div class="card-body">
        <h5 class="card-title">Nombre del Proyecto</h5>
        <p class="card-text fst-italic text-muted">Fecha de realización</p>
        <p class="card-text">Descripción Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, quod
          dolorum maiores cum, nulla officiis laborum quos magnam perspiciatis tempora voluptatum facilis at optio
          aspernatur.</p>
        <a href="#" class="btn btn-outline-light">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="card-group my-3">
    <div class="card mx-2">
      <img src="/assets/project.jpg" class="card-img-top" alt="Project">
      <div class="card-body">
        <h5 class="card-title">Nombre del Proyecto</h5>
        <p class="card-text fst-italic text-muted">Fecha de realización</p>
        <p class="card-text">Descripción Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, quod
          dolorum maiores cum, nulla officiis laborum quos magnam perspiciatis tempora voluptatum facilis at optio
          aspernatur.</p>
        <a href="#" class="btn btn-outline-light">Go somewhere</a>
      </div>
    </div>
    <div class="card mx-2">
      <img src="/assets/project.jpg" class="card-img-top" alt="Project">
      <div class="card-body">
        <h5 class="card-title">Nombre del Proyecto</h5>
        <p class="card-text fst-italic text-muted">Fecha de realización</p>
        <p class="card-text">Descripción Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, quod
          dolorum maiores cum, nulla officiis laborum quos magnam perspiciatis tempora voluptatum facilis at optio
          aspernatur.</p>
        <a href="#" class="btn btn-outline-light">Go somewhere</a>
      </div>
    </div>
    <div class="card mx-2">
      <img src="/assets/project.jpg" class="card-img-top" alt="Project">
      <div class="card-body">
        <h5 class="card-title">Nombre del Proyecto</h5>
        <p class="card-text fst-italic text-muted">Fecha de realización</p>
        <p class="card-text">Descripción Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, quod
          dolorum maiores cum, nulla officiis laborum quos magnam perspiciatis tempora voluptatum facilis at optio
          aspernatur.</p>
        <a href="#" class="btn btn-outline-light">Go somewhere</a>
      </div>
    </div>
  </div>
</section>
