<div class="container-fluid">
  <footer class="p-3 my-3 mb-0">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link text-white px-2">Inicio</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white px-2 ">Acerca de</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white px-2 ">Experiencia</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white px-2 ">Educación</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white px-2">Habilidades</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white px-2">Proyectos</a></li>
    </ul>
    <p class="text-center text-white">© 2022 - Jorge Nicolás Herrera</p>
  </footer>
</div>
