<header>
  <nav class="navbar navbar-light bg-blue bottom-border ">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/">
        <img src="/assets/APLogo-20-20.png" alt="Logo" width="40" class="d-inline-block">
        <span class="navbar-text align-text-center text-white fs-5 	d-none d-sm-inline-block ms-2">
          Argentina Programa - #YoProgramo
        </span>
      </a>
      <div class="navbar-nav flex-row">
        <div class="nav-item">
          <a class="nav-link px-2 text-white" href="#"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        </div>
        <div class="nav-item">
          <a class="nav-link px-2 text-white" href="#"><i class="fa-brands fa-github fa-xl"></i></a>
        </div>
        <div class="nav-item">
          <button type="button" class="btn btn-outline-light mx-2">
            <i class="fa-solid fa-arrow-right-to-bracket"></i> Login
          </button>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid banner my-2 d-flex align-items-center justify-content-center">
    <div class="row text-center">
      <h1 class="h1">Jorge Nicolás Herrera</h1>
      <h2 class="h2">Programador Web</h2>
      <h3 class="h2">Full-Stack Junior</h3>
    </div>
  </div>
</header>
